.container {
    display: flex;
    justify-content: center;
    width: 85%;
    flex-direction: column;
}

.piechart {
    margin-top: 50px;
    flex-grow: 0;
    flex-basis: '33.333%';
}

.doughnutchart {
    margin-top: 50px;
    flex-grow: 0;
    flex-basis: '33.333%';
    margin-bottom: 50px;
}

@media only screen and (max-width: 770px) {
    .container {
        width: 100%;
    }
}