.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    color: white !important;
    /* we are not sytling inline so we need important*/
}

.infected {
    /* border-bottom: 10px solid rgb(0, 0, 255, 0.5); */
    background-image: linear-gradient(90deg, #0026DB 10%, #0026DB 100%);

}

.recovered {
    /* border-bottom: 10px solid rgba(5, 12, 5, 0.5); */
    background-image: linear-gradient(90deg, #008002 10%, #008002 100%);
}

.deaths {
    /* border-bottom: 10px solid rgb(255, 0, 0, 0.5); */
    background-image: linear-gradient(90deg, #EC0E21 10%, #EC0E21 100%);

}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}